<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<script>
var app = angular.module("myShoppingList", []); //Donde esté myShoppingList estará disponible todo lo de dentro del scope
app.controller("myCtrl", function($scope) {
    $scope.products = ["Milk", "Bread", "Cheese"]; //array products
    $scope.addItem = function () { //Función añadir
        $scope.errortext = "";
    if (!$scope.addMe) {return;}
    if ($scope.products.indexOf($scope.addMe) == -1) {
    $scope.products.push($scope.addMe);
} else {
      $scope.errortext = "The item is already in your shopping list.";
    }
  }
  $scope.removeItem = function (x) { //Función borrar
    $scope.errortext = "";

    $scope.products.splice(x, 1);
  }
});
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl"> <!--Llaman al scope de la app y al controlador-->
  <ul>
    <li ng-repeat="x in products">{{x}}<span ng-click="removeItem($index)">&times;</span>
         </li> 
    <!--bindea el li al ng-repeat que crea un bucle y recorre el array-->
  </ul>
  <input ng-model="addMe">  <!--Le pasa info a la función addItem-->
  <button ng-click="addItem()">Add</button>  <!--Llama a la función add item para que añada lo que hay en addMe cuando se hace click-->
  <p>{{errortext}}</p>
</div>

<p>So far we have made an HTML list based on the items of an array.</p>

</body>
</html>
